@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

/* utility classes */
:root {
  --primary-text-color: #cdff00;
  --primary-text-color-dark: #b0db02;
  --secondary-text-color: #9e9ea0;
  --background-color: #1f1f21;
  --padding-inline-section: 20px;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  background-color: var(--background-color);
}
a {
  text-decoration: none;
  display: inline-block;
  /* color: white; */
}
ul {
  list-style: none;
}
.container {
  max-width: 1180px;
  margin-inline: auto;
  padding-inline: var(--padding-inline-section);
  overflow: hidden;
}
.flex {
  display: flex;
  align-items: center;
}

/* top banner */
.topBanner {
  background-color: black;
  justify-content: space-between;
  height: 40px;
}
.jordanLogo img {
  height: 28px;
  margin-left: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.bannerButtons ul {
  margin-right: 40px;
}
.bannerButtons ul li {
  padding: 15px;
  font-size: 12px;
  color: white;
}
.bannerButtons ul li a {
  color: white;
}

/* nac Bar */
.navBar {
  height: 60px;
  background-color:var(--background-color);
  justify-content: space-between;
}
.nikeLogo img {
  height: 45px;
  margin: 10px 27px;
}
.navLinks ul li {
  padding: 12px;
  font-size: 16px;
}
.navLinks ul li a {
  color: white;
}
.navLinks ul li a:hover{
    text-decoration: underline;
    font-weight: 700;
    color:white;
}
.searchBox {
  padding: 27px;
}
.searchBox input {
  border: none;
  margin-right: 18px;
  padding-left: 10px;
  background-color: black;
  color: white;
  height: 35px;
  border-radius: 24px;
}
.fav {
  padding: 11px 12px;
  background-color: var(--background-color);
  border-radius: 360px;
  height: 20px;
  width: 20px;
}
.bag {
  padding: 11px 12px;
  background-color: var(--background-color);
  border-radius: 360px;
  height: 20px;
  width: 20px;
}
.mainBanner {
  justify-content: center;
}
.bannerImg img {
  height: 950px;
}

/* main banner */
.mainBanner {
  flex-direction: column;
}
.bannerText h1 {
  font-weight: 700;
  text-align: center;
  font-size: 100px;
  margin-top: 20px;
}
.bannerText p {
  font-size: 20px;
}
.bannerBtn {
  color: black;
  background-color: var(--primary-text-color);
  padding: 10px 18px;
  border-radius: 25px;
  margin-top: 25px;
}
.bannerBtn a {
  color: black;
}
.bannerBtn:hover {
  background-color: #b0db02;
  transition: 0.2s;
}

/* bigFeature section */
.Trending {
  margin-left: 41px;
  margin-top: 88px;
  font-size: 30px;
}
.bigFeatureSection {
  flex-direction: column;
  justify-content: center;
}
.bigFeatureSection img {
  width: 95vw;
  margin-top: 30px;
}
.bigFeatureSectionTxt {
  flex-direction: column;
  margin-top: 30px;
}
.bigFeatureSectionTxt h1 {
  font-weight: 700;
  text-align: center;
  font-size: 100px;
  margin-top: -10px;
  margin-bottom: -10px;
}
.bigFeatureSectionBtn a {
  margin-right: 5px;
}

/* feature section */
.Featured {
  margin-left: 49px;
  margin-top: 100px;
  font-size: 30px;
}
.featuredSection {
  justify-content: space-evenly;
  margin: 20px 40px;
}
.img1 h3 {
  font-size: 25px;
  margin-top: 30px;
  margin-bottom: 18px;
}
.img2 h3 {
  font-size: 25px;
  margin-top: 30px;
  margin-bottom: 18px;
}
.img3 h3 {
  font-size: 25px;
  margin-top: 30px;
  margin-bottom: 18px;
}

/* bigFeature 2 section */
.theLatest {
  margin-left: 41px;
  margin-top: 108px;
  font-size: 30px;
}
.bigFeatureSection2 {
  flex-direction: column;
  justify-content: center;
}
.bigFeatureSection2 img {
  width: 95vw;
  margin-top: 30px;
}

/* spotlight */
.classicsSpotlights {
  margin-left: 40px;
  margin-top: 100px;
  font-size: 30px;
}
.slideshow {
  flex-direction: row;
  margin: 20px 40px;
  /* overflow: scroll; */
  overflow-x: auto;
}
.slided {
  margin-right: 15px;
}
.slided h3 {
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: 25px;
}

/* shop by sports */
.shopBySport {
  margin-left: 40px;
  margin-top: 100px;
  font-size: 30px;
}
.shopBySportSection {
  margin-top: 25px;
  margin-left: 40px;
  margin-right: 40px;
  /* overflow: scroll; */
  overflow-x: auto;
}
.slide {
  margin-right: 15px;
}
.slide a {
  color: white;
  text-decoration: underline;
  margin-bottom: 15px;
}
.slide h3 {
  margin-top: 12px;
  font-size: 25px;
  font-weight: 700;
}
.slide p {
  margin-top: 10px;
  margin-bottom: 20px;
}

/* memberBenefits */
.memberBenefits {
  margin-left: 40px;
  margin-top: 100px;
  font-size: 30px;
}
.memberBenefitsSection {
  overflow-x: auto;
  margin-left: 40px;
  margin-right: 40px;
}
.benefitSlides {
  margin-top: 25px;
}
.slidss {
  height: 750px;
  width: 600px;
  margin-right: 12px;
  margin-bottom: 25px;
  position: relative;
  background-image: url(assets/asset26.jpeg);
  background-color: rgb(0, 0, 0);
  background-size: cover;
}
.slidss:nth-child(2){
  background-image: url(assets/asset27.png);
  background-size: cover;
}
.slidss:nth-child(3){
  background-image: url(assets/asset28.jpeg);
  background-size: cover;
}
.slidss:nth-child(4){
  background-image: url(assets/asset29.jpeg);
  background-size: cover;
}
.slidss:nth-child(5){
  background-image: url(assets/asset30.jpeg);
  background-size: cover;
}
.slidss:nth-child(6){
  background-image: url(assets/asset31.jpeg);
  background-size: cover;
}
.slidss{
  align-content: end;
}
.slidssTxt{
  margin-left: 60px;
  margin-bottom: 50px;
}
.slidssTxt h2{
 font-size: 33px;
}
.slidssTxt p {
  font-size: 18px;
  margin-bottom: 10px;
}

/* footer */
.Footer {
  margin: 50px 90px;
  align-items: flex-start;
  justify-content: center;
  gap: 110px;
}
.linkColumns {
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
}
.linkColumns a {
  color: rgba(255, 255, 255, 0.509);
  font-size: 18px;
}
.linkColumns a:hover {
  color: white;
  transition: 0.2s;
}
.linkColumns h4 {
  color: white;
  font-size: 25px;
  margin-bottom: 12px;
}

hr {
  margin-top: 120px;
  margin-left: 40px;
  margin-right: 40px;
  color: #ffffff37;
}

/* subfooter */
.subFooter {
  margin: 60px 40px;
  align-items: flex-start;
  /* justify-content: center; */
  gap: 252px;
}
.subFooterLinks {
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
}
.subFooterLinks a {
  color: rgba(255, 255, 255, 0.509);
}
.subFooterLinks h4 {
  color: white;
  margin-bottom: 18px;
}
.subFooterBtn a {
  margin-left: 542px;
  color: rgba(255, 255, 255, 0.509);
}

/* end footer */
.endFooter {
  margin: 75px 40px;
  gap: 30px;
}
.endFooter a {
  color: rgba(255, 255, 255, 0.509);
}
.endFooter p {
  color: rgba(255, 255, 255, 0.509);
}
.endFooter a:hover {
  color: white;
  transition: 0.2s;
}
/* .dropbtn {
  background-color: #3498db;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
} */
